* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@1,600&family=Poppins:wght@300&display=swap");

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222222;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 90vh;
  background: linear-gradient(160deg, #222930dc 0%, #101010f5 100%);
  box-shadow: 0px 5px 7px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

p,
h1 {
  color: #ffff;
  margin: 5px 0;
}

p {
  text-align: center;
  line-height: 25px;
  width: 50%;
}
